body {
    background-color: #1f2a2b;
    font-family: "Outfit", sans-serif;
    margin: 0;
    position: relative;
    padding-top: 120px;
}

p {
    margin: 0;
}

.whole-cont{
    width: 100%;
}

.nav-bar{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #234037;
    position: fixed;
    top: 0;
}

.nav-bar p{
    font-size: 30px;
    font-weight: 190;
    color: white;
    cursor: pointer;
}

.aboutme-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.aboutme-nav:hover{
    font-weight: 500;
    font-size: 40px;
}

.contacts-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.contacts-nav:hover{
    font-weight: 500;
    font-size: 40px;
}

.projects-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.projects-nav:hover{
    font-weight: 500;
    font-size: 40px;
}
.certificates-nav{
    transition: font-weight 0.2s;
    transition: font-size 0.2s;
}
.certificates-nav:hover{
    font-weight: 500;
    font-size: 40px;
}

.text-section{
    width: auto;
    height: 351px;
    text-align: center;
}

.welcome-text{
    color: white;
    font-size: 160px;
    font-weight: 100;
    
}

.introduce-text{
    margin-top: 20px;
    color: white;
    font-size: 50px;
    font-weight: 700;
}
.blue{
    color: #00f0b8;
}
.bio-text{
    margin-top: 20px;
    color: white;
    font-weight: 300;
    font-size: 18px;
}
.newline{
    display: block;
    margin-top: 10px;
}

.social-sections{
    width: auto;
    height: 200px;
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.socials-buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.socials-buttons button{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 26px;
    border: 0;
    box-shadow: 7px 7px rgba(0, 28, 8, 0.568);
    background-color: #234037;
}

.fb-btn{
    width: 50px;
    height: 50px;
}   

.git-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.linkedin-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.find-me-text{
    color: white;
    font-weight: 100;
    font-size: 40px;
}

